<!DOCTYPE html>
<html>
<head>
  <title>AdminCP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="mainApp.js"></script>
  <script src="data.js"></script>

    <!-- styles -->
    <link href="Theme/assets/css/bootstrap.css" rel="stylesheet">
    <link href="Theme/assets/css/main.css" rel="stylesheet">
    <!-- DATA TABLE CSS -->
    <link href="Theme/assets/css/table.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  	<!-- DataTables Initialization -->
    <script type="text/javascript" src="Theme/assets/js/datatables/jquery.dataTables.js"></script>
<style>
	body { padding-bottom:50px; 
		   background-color: #44cccc;}

</style>

</head>
<body ng-app="myApp" ng-controller="adminController">
<div ng-include="'navbar.html'"></div>

<br>
<br>

<h1 style="text-align:center;">AdminCP</h1>
<br>
<br>

    <div class="container">

      <!-- CONTENT -->
	<div class="row">
		<div class="col-sm-12 col-lg-12">

<h4><strong>Users Table</strong></h4>
<br>
<input type="text" class="form-control" placeholder="Search Here" ng-model="searchInput">
<div class="scrollit">
<table class="display" id="dt1">
	<thead>
    	<tr>
            <th>UID</th>
        	<th>Username</th>
            <th>Location</th>
            <th>Rating</th>
            <th>Reports</th>
        </tr>
    </thead>
    <tbody ng-repeat="users in userList | filter:searchInput">
		<tr ng-click="adminModal(users.Uid)" class="odd gradeX" >
            <td>{{users.Uid}}</td>
            <td>{{users.Username}}</td>
            <td>{{users.U_Location}}</td>
            <td class="center">{{users.AVG_PostRate}}</td>
            <td class="center">{{users.NumberOfStrikes}}</td>
          </tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal vertical-align-center" style="align-items: center; justify-content: center; overflow:hidden;">

  <!-- Modal content -->
  <div class="modal-content" style="margin: auto;">
    <div class="modal-header">
      <span class="close" ng-click="close()">&times;</span>
      <h2>Reports</h2>
    </div>
    <div class="modal-body">
      <table class="modal-table">
        <td>
          <p>Username: {{userL.Username}}</p>
          <p>Contact: {{userL.PhoneNumber}}</p>
          <p>Description: {{userL.U_Description}}</p>
          <p>Location: {{userL.U_Location}}</p>
        </td>
        <td id="reportHistory"valign="top">
          <p>Report history:</p>
          <table class="report-table">
			<thead>
				<tr>
				<th>Time</th>
				<th>Reported By</th>
				<th>Type</th>
				<th>Description</th>
				</tr>
			</thead>
		    <tbody ng-repeat="report in reportL">
		    	<tr class="reportState{{report.State}}">
		    	<td>{{report.Time}}</td>
		        <td>{{report.UidReporter}}</td>
		        <td>{{report.Type}}</td>
		        <td>{{report.Comment}}</td>
		    	</tr>
		      </tbody>
        	</table>
		</td>
		<td id="noReports" style="display:none;">
			<p style="text-align:center;"> No Reports to be shown.</p>
		</td>
      </table>
    </div>
    <div class="modal-footer">
		<button class="button" ng-click="deleteUser()"><span>Delete User</span></button>
    <br>
    </div>
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIqZ1SHXEe7CUj8Gv9MvVQLWrI-3k4isQ&callback=myMap"></script>
<script src="navbar.js"></script>
    <script type="text/javascript" src="Theme/assets/js/admin.js"></script>
</body>
</html>
