<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <link href="assets/css/bid_style.css" rel="stylesheet" type="text/css">
    <title>gig.io - place bid</title>
  </head>
  <body ng-app="myApp" ng-controller="loginController">
    <div class="bid-page" ng-controller="bidController">
      <div class="form">
        <form class="bid-form">
          <p>Current bid: $10.34</p>
          <div class="input-icon">
            <i>$</i>
            <input type="text" ng-model="bid.amount" placeholder="Bid amount"/>
          </div>
          <button ng-click="clickButton()" >place bid</button>
        </form>
      </div>
    </div>
  </body>
</html>
