<!DOCTYPE html>
<html>
        

<head>
 
<link rel="stylesheet" href="assets/css/register_style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	
<script src="app.js"></script>
</head>
<div ng-include="'navbar.html'"></div>
<body ng-app="myApp" ng-controller="makePostController">




<div style="padding-left:16px" >
  <h2 align=center>Create a post for a job you're looking for someone to help with!</h2>
  <p align=center></p>
<br>
	<h3 id="status" align=center>{{status}}</h3>


<form name="postCreation">
      
        <label for="title">Post title:</label>
        <input padding-left="5px" ng-model="user.title" id="title" type="text"  class="validate" required>
      <br>
        <label for="description">Description of the work you are requesting:</label>
        <input ng-model="user.description" id="description" type="text"  class="validate" required>
      <br>
	<label for="location">Location where the work will take place:</label>
        <input padding-left="5px" ng-model="user.location" id="location" type="text"  class="validate" required>
      <br>
	<label for="image">Picture URL (Optional):</label>
        <input padding-left="5px" ng-model="user.picture" id="picture" type="url">
      <br>  
        <input ng-click="makePost()" type="submit" value="Submit">
    </form><br>
    
    </div>
<script src="navbar.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIqZ1SHXEe7CUj8Gv9MvVQLWrI-3k4isQ&callback=myMap"></script>
<script 
</body>
</html>
