<!DOCTYPE html>
<html>
        

<head>
 
<link rel="stylesheet" href="assets/css/makepost_style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	
<script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="rateController">
<ul id="navbar" ng-include="'navbar.html'"></ul>



<div style="padding-left:16px" >
  <h2 align=center>Have a conflict with a user? Leave a report and let us know what happened!</h2>
  <p align=center></p>
<br>
	<h3 id="status" align=center>{{status}}</h3>


<form name="rateUser">
      
        <label for="rating">Rating:</label>
        <input padding-left="5px" ng-model="rate.rating" id="rating" type="text"  class="validate" required>
      <br>
        <label for="description">Briefly describe why you gave this rating. Include any relevant pictures and a short description of your interaction with the user. </label>
        <input ng-model="rate.description" id="description" type="text"  class="validate" required>
      <br>

        <input ng-click="rate()" type="submit" value="Submit">
    </form><br>
    
    </div>
<script src="navbar.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIqZ1SHXEe7CUj8Gv9MvVQLWrI-3k4isQ&callback=myMap"></script>
<script 
</body>
</html>
