<!DOCTYPE html>
<html>
        <script src="data.js"></script>


<head>
 
<link rel="stylesheet" href="assets/css/register_style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="registrationApp.js"></script>
</head>
<body ng-app="myApp" ng-controller="registrationController">




<div style="padding-left:16px" >
  <h2 align=center>Create an account to get started!</h2>
  <p align=center>Please provide the following information so we can set up your account.</p>
<br>
	<h3 id="status" align=center>{{status}}</h3>


<form name="registration">
      
        <label for="username">Username:</label>
        <input padding-left="5px" ng-model="user.username" id="username" type="text"  class="validate" required>
      <br>
        <label for="email">Email:</label>
        <input ng-model="user.email" id="email" type="email"  class="validate" required>
      <br>  
        <label for="password">Password:	</label>
        <input ng-model="user.password" id="password" type="password"  class="validate" required>
      <br>
        <label for="retyped password">Confirm Password:</label>
        <input ng-model="user.password1" id="retyped password" type="password"  class="validate" required>
      <br>  
        <label for="phone">Phone Number:</label>
        <input ng-model="user.phone" id="phone" type="tel"  class="validate" required>
      <br>
          <label for="location">Address:</label>
          <input ng-model="user.location" id="location" type="text"  class="validate" required>
      <br>
        <input ng-click="register()" type="submit" value="Submit">
    </form><br>
    
    </div>
<script src="https://ghackett21.github.io/gig.io/navbar.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIqZ1SHXEe7CUj8Gv9MvVQLWrI-3k4isQ&callback=myMap"></script>
</body>
</html>
