<!DOCTYPE html>
<html>
        

<head>
 
<link rel="stylesheet" href="assets/css/makepost_style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	
<script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="reportController">
<ul id="navbar" ng-include="'navbar.html'"></ul>



<div style="padding-left:16px" >
  <h2 align=center>Have a conflict with a user? Leave a report and let us know what happened!</h2>
  <p align=center></p>
<br>
	<h3 id="status" align=center>{{status}}</h3>


<form name="reportUser">
      
        <label for="reason">Reason for reporting:</label>
        <input padding-left="5px" ng-model="report.reason" id="reason" type="text"  class="validate" required>
      <br>
        <label for="description">Briefly describe what happened. Please be specific and include any relevant pictures or dates. </label>
        <input ng-model="report.description" id="description" type="text"  class="validate" required>
      <br>

        <input ng-click="report()" type="submit" value="Submit">
    </form><br>
    
    </div>
<script src="navbar.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIqZ1SHXEe7CUj8Gv9MvVQLWrI-3k4isQ&callback=myMap"></script>
<script 
</body>
</html>
